fieldset{
  font-family:'Sigmar One', cursive;
  border: 5px solid black;
  clear: both;
  font-size: 30px;
}
input{
  font-size: 20px;
}
select{
  font-size: 20px;
}
input[type='submit']{
  float: right;
  font-size: 20px;
  padding: 20px;
}
#weaponTable{
  margin: auto;
  background-color: #F22B29;
}
#spellTable{
  margin: auto;
  background-color: purple;
}
