.buttonWrapper{
  border: 1px solid black;
  width: 100%;
  height: 1000px;
  margin:auto;
  position: relative;
}
.displayDiv{
  z-index: 1;
  height:300px;
  width:300px;
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top: 0;
  bottom: 0;

}
.attackDiv{
  background-color: blue;
  border: 5px solid black;
  border-radius: 10px;
  width: 75%;
  margin: 100px auto 0px auto;
  height: 75px;
}
.attackSelect{
  float:left;
  padding-top: 75px;
}
.attackSubmit{
  float:right;
}
.saveDiv{
  border: 1px solid black;
}
.initDiv{
  border: 1px solid black;
}
.saveDiv{
  border: 1px solid black;

}
