#buttonWrapper{
  width: 100%;
  height: 300px;
  margin:auto;
  position: relative;
}
#displayDiv{
  z-index: 1;
  height:300px;
  width:300px;
  border-radius: 50%;
  box-shadow: -4px 29px 60px 2px rgba(0,0,0,0.75);
  background-image: url(images/DnD_Giant.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid black;
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,.9);
}
#display{
  color: #F22B29;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  position: relative;
  float:left;
  font-size: 100px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Sigmar One', cursive;
}
#attackDiv{
  display: block;
  border-radius: 25%;
  width: 85%;
  margin: 125px auto 0px auto;
  height: 75px;
}
#attackSelect{
  position: relative;
  float: left;
  height:65px;
  border-radius: 25%;
  width: 45%;
  margin-top: 5px;
  margin-left: 10px;
}
#attackSelect select{
  background-color: #B38A58;
  height:100px;
  padding-left: 20px;
  border-radius: 25%;
  font-size: 30px;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
}
#attackSubmit{
  float: right;
  height:100px;
  border-radius: 25%;
  width: 45%;
  margin-top: 5px;
  font-size: 50px;
  padding-left: 50px;
  background-color: #B38A58;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
}
#attackSubmit:hover, #attackSelect select:hover{
  box-shadow: none;
}
select{
  font-family: 'Days One', sans-serif;
  width: 100%;
}
input{
  font-family: 'Days One', sans-serif;
}
button{
  font-family: 'Days One', sans-serif;
}
.bottomDiv{
  height:300px;
  width: 100%;
}
#bottomRight{
  width: 45%;
  height: 300px;
  float: right;
}
#bottomLeft{
  width: 45%;
  height: 300px;
  float: left;
}
#saveForm{
  margin-top: 50px;
}
#saveSubmit{
  float: right;
  height:75px;
  width:50%;
  border-radius: 25%;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #B38A58;
  font-size: 30px;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
}
#saveStat{
  float: right;
  height:75px;
  width: 75%;
  padding-left: 50px;
  border-radius: 25%;
  font-size: 30px;
  background-color: #B38A58;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
}
#initiativeButton{
  margin-top: 50px;
  width: 75%;
  float: left;
  height:75px;
  border-radius: 25%;
  text-align: center;
  font-size: 30px;
  background-color: #B38A58;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
}
