.character-info{
  min-height: 100px;
  text-align: center;
  clear:both;
  font-family:'Sigmar One', cursive;
}
.str, .dex, .con, .int, .wis, .char{
  color: #F22B29;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  width: 100px;
  height: 100px;
  font-size: 60px;
  background-image: url('images/D20.png');
  background-position: center;
  background-repeat: none;
  background-size: contain;
}
.chooseChar{
  width:50%;
  margin: auto;
}
#sub-stat{
  color: #F22B29;
  background-color: rgb(2, 24, 43);
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.9);
  height: 40px;
  border-radius: 25%;
  font-size: 20px;
}
.character-info ul{
  display: inline-block;
  margin-left: 10px;
}
.character-info li{
  font-size: 40px;
  display: block;
}
.displayName{
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  margin: 0px auto 0px auto;
}
#createName{
  height:50px;
  text-align: center;
  border: 3px solid black;
  font-size: 25px;
}
#characters{
  color: #F22B29;
  height: 50px;
  text-align: center;
  background-color: rgb(2, 24, 43);
  box-shadow:inset 0px 0px 10px rgba(255,255,255,0.9);
  border-radius: 25%;
}
.displayHealth{
  color: #F22B29;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  font-size: 55px;
  width: 25%;
  min-height: 100px;
}
#minus, #plus{
  color: #F22B29;
  background-color: rgb(2, 24, 43);
  box-shadow:inset 0px 0px 10px rgba(255,255,255,0.9);
  border-radius: 50%;
}
body{
  margin: 0px;
  background-image: url(images/mapbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper{
  height: 1100px;
  margin: auto;
  background-color: rgba(1, 151, 246, .5);
}
.currentPage{
  display: none;
}
nav{
  font-family: 'Sigmar One', cursive;
  float: right;

}
nav ul{
  margin-top: -5px;
}
nav li{
  display: inline-block;
  font-size: 40px;
  padding: 10px 10px;
}
nav a{
  text-decoration: none;
  font-family:'Sigmar One', cursive;
  text-shadow:
       3px 3px 0 rgba(255, 255, 255, 0.5),
     -1px -1px 0 rgba(255, 255, 255, 0.5),
      1px -1px 0 rgba(255, 255, 255, 0.5),
      -1px 1px 0 rgba(255, 255, 255, 0.5),
       1px 1px 0 rgba(255, 255, 255, 0.5);
  color: black;
}
.healthDisplay {
  margin: 0px;
}
footer{
  background-color: rgba(1, 151, 246, .5);
  font-family: 'Sigmar One', cursive;
  text-align: center;
}
footer h3{
  margin: 0;
  font-size: 30px;
}
